.page-wrapper {
  padding: 0 50px;
}
.page-wrapper-content {
  min-height: 600px;
  padding: 24px;
}

.page-wrapper-inner {
  margin: auto;
  margin-top: 20px;
}

.page-wrapper-inner-fluid {
  width: 90%;
  max-width: 1600px;
}

.page-wrapper-inner-reading {
  width: 100%;
  max-width: 1100px;
}

.page-wrapper-inner-form {
  width: 100%;
  max-width: 760px;
}

.page-wrapper-title {
  margin-bottom: 5px !important;
}

.page-wrapper-alert {
  margin-top: 10px;
}

.page-wrapper-loader {
  margin-top: 50px;
}

.page-wrapper-crumbs {
  margin: 16px 0;
  .active {
    font-weight: bold;
  }
}
