.pat-section {
  padding-bottom: 40px;

  .alert {
    margin-top: 10px;
  }

  .loader {
    margin-top: 50px;
  }

  .no-content {
    margin-top: 50px;
    max-width: 350px;
  }
}

[data-theme="dark"] .pat-section .breadcrumb {
  color: var(--tk-text-secondary);
}
