name: Release Terrakube

on:
  release:
    types: [created]

permissions:
  contents: read
  packages: write

jobs:
  build:
    strategy:
      matrix:
        os: [jammy, jammy-arm, alpaquita]
    env:
      VERSION: ${{ github.event.release.tag_name }}
    runs-on: ${{ matrix.os == 'jammy-arm' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    steps:
    - uses: actions/checkout@v4

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'liberica'

    - uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set environment label for Alpaquita
      if: matrix.os == 'alpaquita'
      run: echo "VERSION=${{ env.VERSION }}-alpaquita" >> $GITHUB_ENV

    - name: Set environment label for Jammy-ARM
      if: matrix.os == 'jammy-arm'
      run: echo "VERSION=${{ env.VERSION }}-arm" >> $GITHUB_ENV

    - name: Build and Push UI Images
      if: matrix.os == 'jammy' || matrix.os == 'jammy-arm'
      working-directory: ./ui
      run: |
        docker build --build-arg REACT_APP_TERRAKUBE_VERSION=v${{ env.VERSION }} -t ghcr.io/${{ github.repository_owner }}/terrakube-ui:${{ env.VERSION }} --push .

    - name: Update POM Version
      run: mvn versions:set-property -Dproperty=revision -DnewVersion=${{ env.VERSION }} -DgenerateBackupPoms=false

    - name: Build Image with Maven
      run: |
        if [ "${{ matrix.os }}" == "alpaquita" ]; then
          mvn -pl "api,registry,executor" spring-boot:build-image -B --file pom.xml -Dmaven.test.skip=true -Dbuildpack.builder=bellsoft/buildpacks.builder:glibc
        elif [ "${{ matrix.os }}" == "jammy-arm" ]; then
          mvn -pl "api,registry,executor" spring-boot:build-image -B --file pom.xml -Dmaven.test.skip=true -Dbuildpack.builder=heroku/builder:24
        else
          mvn -pl "api,registry,executor" spring-boot:build-image -B --file pom.xml -Dmaven.test.skip=true
        fi
      env:
        USER_NAME: ${{ secrets.USER_NAME }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

    - name: Tag and Push Executor Images
      run: |
          IMAGE_ID=$(docker images executor:${{ env.VERSION }} -q)
      
          # Install Git
          if [ "${{ matrix.os }}" == "alpaquita" ]; then
            docker tag $IMAGE_ID executortemp
          else
            docker run --user="root" --entrypoint launcher $IMAGE_ID "apt-get update && apt-get install git jq curl -y"
            if [ "${{ matrix.os }}" == "jammy-arm" ]; then
              docker commit --change='ENTRYPOINT ["/cnb/process/web"]' --change='USER heroku' $(docker ps -lq) executortemp
            else
              docker commit --change='ENTRYPOINT ["/cnb/process/web"]' --change='USER cnb' $(docker ps -lq) executortemp
            fi
          fi
      
          IMAGE_ID=$(docker images executortemp -q)
          docker tag $IMAGE_ID ghcr.io/${{ github.repository_owner }}/terrakube-executor:${{ env.VERSION }}
          docker tag $IMAGE_ID ghcr.io/${{ github.repository_owner }}/terrakube-executor:latest
          docker push ghcr.io/${{ github.repository_owner }}/terrakube-executor:${{ env.VERSION }}

    - name: Tag and Push API Images
      run: |
        IMAGE_ID=$(docker images api-server:${{ env.VERSION }} -q)
        docker tag $IMAGE_ID ghcr.io/${{ github.repository_owner }}/terrakube-api-server:${{ env.VERSION }}
        docker tag $IMAGE_ID ghcr.io/${{ github.repository_owner }}/terrakube-api-server:latest
        docker push ghcr.io/${{ github.repository_owner }}/terrakube-api-server:${{ env.VERSION }}

    - name: Tag and Push Registry Images
      run: |
        IMAGE_ID=$(docker images open-registry:${{ env.VERSION }} -q)
        docker tag $IMAGE_ID ghcr.io/${{ github.repository_owner }}/terrakube-registry:${{ env.VERSION }}
        docker tag $IMAGE_ID ghcr.io/${{ github.repository_owner }}/terrakube-registry:latest
        docker push ghcr.io/${{ github.repository_owner }}/terrakube-registry:${{ env.VERSION }}

  merge:
    needs: build
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.release.tag_name }}
    steps:
    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Create and Push Multi-Platform Images
      run: |
        # API
        docker buildx imagetools create \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-api-server:${{ env.VERSION }} \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-api-server:latest \
          ghcr.io/${{ github.repository_owner }}/terrakube-api-server:${{ env.VERSION }} \
          ghcr.io/${{ github.repository_owner }}/terrakube-api-server:${{ env.VERSION }}-arm

        # Registry
        docker buildx imagetools create \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-registry:${{ env.VERSION }} \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-registry:latest \
          ghcr.io/${{ github.repository_owner }}/terrakube-registry:${{ env.VERSION }} \
          ghcr.io/${{ github.repository_owner }}/terrakube-registry:${{ env.VERSION }}-arm

        # Executor
        docker buildx imagetools create \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-executor:${{ env.VERSION }} \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-executor:latest \
          ghcr.io/${{ github.repository_owner }}/terrakube-executor:${{ env.VERSION }} \
          ghcr.io/${{ github.repository_owner }}/terrakube-executor:${{ env.VERSION }}-arm

        # UI
        docker buildx imagetools create \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-ui:${{ env.VERSION }} \
          --tag ghcr.io/${{ github.repository_owner }}/terrakube-ui:latest \
          ghcr.io/${{ github.repository_owner }}/terrakube-ui:${{ env.VERSION }} \
          ghcr.io/${{ github.repository_owner }}/terrakube-ui:${{ env.VERSION }}-arm